@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, health practitioner!</h1>

Welcome to your new collaborative decision-making assistant.

Call me Dr. Alefa

<SurveyPrompt Title="How is Dr. Alefa working for you?" />
