@page
@model IndexModel
@{
    ViewData["Title"] = "Dr. Alefa - AI driven decision-making assistant for healthcare professionals";
}

<div class="text-center">
    <h1 class="display-4">Dr. Alefa</h1>
    <p> <a href="https://afrikancoder.com">AfrikanCoder LLC</a> - Integrating Africa Technologically</p>
</div>
